custom-select {
	box-sizing: border-box;
	user-select: none;

	&:hover {
		&::part(base) {
			border-color: var(--base-border-color-hover, lightblue);
		}
	}

	&[opened] {
		filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.15));

		&::part(base) {
			border-color: var(--base-border-color-opened, lightblue);
			border-bottom-color: var(--base-background-color-opened, white);
			background-color: var(--base-background-color-opened, white);
			color: var(--base-color-opened, black);
		}

		&::part(base)::after {
			rotate: 180deg;
		}
		
		&::part(options) {
			opacity: 1;
			visibility: visible;
			border-color: var(--base-border-color-opened, lightblue);
			border-top: none;
			background-color: var(--base-background-color-opened, white);
			color: var(--base-color-opened, black);
		}
	}

	&::part(base) {
		box-sizing: border-box;
		font-size: var(--base-font-size, 1em);
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 1em;
		padding-inline: var(--base-padding-inline, 0.5em);
		height: var(--base-min-height, 2.5em);
		border-width: var(--base-border-width, 1px);
		border-style: solid;
		border-color: var(--base-border-color, black);
		cursor: pointer;
		transition: all var(--transition, 0.35s ease-in-out);
	}

	&::part(base)::after {
		display: inline-block;
		content: '';
		height: 100%;
		width: var(--base-icon-width, 1em);
		background-image: var(--arrow-icon, url('data:image/svg+xml, <svg fill="none" stroke="black" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M6 9l6 6 6-6"/></svg>'));
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
		transform-origin: center;
		transition: rotate var(--transition, 0.35s ease-in-out);
	}

	&::part(options-wrapper) {
		height: 0;
	}

	&::part(options) {
		box-sizing: border-box;
		margin: 0;
		list-style: none;
		font-size: var(--options-font-size, 1em);
		padding: var(--options-padding-block, 0) 0;
		border-width: var(--base-border-width, 1px);
		border-style: solid;
		scrollbar-color: var(--accent-primary, dimgray) transparent;
		--single-option-height: calc(var(--option-padding-block, 0.5em) * 2 + 1lh);
		max-height: 
			calc(
				var(--options-padding-block, 0em) * 2
				+ var(--single-option-height, 2em) 
				* var(--options-max-display-items, 5)
			);
		overflow-y: auto;
		transition: all var(--transition, 0.35s ease-in-out);
		opacity: 0;
		visibility: hidden;
	}

	&::part(option) {
		box-sizing: border-box;
		display: block;
		padding: var(--option-padding-block, 0.5em) var(--base-padding-inline, 0.5em);
		cursor: pointer;
		transition: background-color var(--transition, 0.35s ease-in-out);
	}

	&::part(option):hover {
		background-color: var(--option-background-color-hover, lightblue);
	}
}